
html {
    background: black;
}

canvas {
    display: block;
    background-color: #fff;
}

#container{
    width: 800px;
    height: 600px;
    text-align: center;
    margin: 80px auto 0px auto;	
	border: 2px solid black;
}

